/* main color:#087f5b 
GREY COLOR:#343A40,#099268*/

/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}
.container {
  width: 960px;
  margin: auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  margin-bottom: 48px;
  font-size: 36px;
  letter-spacing: -0.5px;
}
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}
img {
  border-radius: 12px;
}
/* END GENERAL STYLE */

/* Section1 */
img {
  width: 100%;
}

h1 {
  margin-bottom: 32px;
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.header-text-box {
  align-self: center;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font: weight 500;
  display: inline-block;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

.btn--big {
  font-size: 18px;
  padding: 16px 32px;
}
/* END Section1 */

/* Section2 */
.feature.title {
  margin-bottom: 16px;
  font-size: 20px;
}

.feature-text {
  font-size: 18px;
  line-height: 1.7;
}

.feature-icon {
  stroke: #087f5b;
  width: 32px;
  height: 32px;
  margin-bottom: 24px;
}
/* END Section2 */

/* Section3 */
.testiminial-box h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.testimonial-box {
  grid-column: 2/-1;
  align-self: center;
}

.testimonial-text {
  font-style: italic;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
  color: #e6fcf5;
}

.testimonial-section {
  background-color: #087f5b;
  color: #fff;
  padding: 24px;
  border-radius: 30px;
}
.testimonial-author {
  color: #c3fae8;
}
/* END Section3 */

/* Section4 */
h3 {
  margin-bottom: 24px;
  font-size: 20px;
}
.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.btn--small {
  font-size: 14px;
  padding: 8px 12px;
}

.chair-icon {
  stroke: #087f5b;
  width: 24px;
  height: 24px;
}

.chair {
  padding: 32px;
}

.chair-box img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.chair-details {
  list-style: none;
  margin-bottom: 48px;
}
.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.chair-details li:last-child {
  margin-bottom: 0;
}
/* END Section4 */

footer {
  font-size: 14px;
  color: #495057;
  margin-bottom: 48px;
}
